<h3>
<div class="well">
<%= link_to "All Products", products_path %>
</div>
</h3>
<h1>Edit product</h1>
<br>
<br>
<hr>
<%= render "layouts/errors", :object => @product %>

<%= render "layouts/form" %>
