<h1>Products</h1>

<ul>
  <% @products.three_most_recent.each do |product| %>
    <li><%=link_to product.name, product_path(product) %></li>
  <% end %>
</ul>
<br>
<hr>

<%= link_to "All Products", products_path %> ||
<%= link_to "New Product", new_product_path %>
